@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styles.css */
.handle {
  width: 0.6rem; /* w-3 */
  height: 0.6rem; /* h-3 */
  border-width: 2px; /* border-2 */
  background-color: #081653; /* bg-blue-400/80 */
}
.handle:hover {
  width: 0.8rem; /* w-3 */
  height: 0.8rem; /* h-3 */
  background-color: #081653; /* bg-blue-400 */
}

/* Estilos específicos para cada posição */

.handle-top {
  position: absolute; /* Ensure positioning is absolute */
  top: -0.5rem; /* -top-2 */
}

.handle-bottom {
  position: absolute; /* Ensure positioning is absolute */
  bottom: -0.5rem; /* -bottom-2 */
}

.react-flow__node-separator {
  z-index: -1 !important; /* Exemplo: definir um z-index menor */
}
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do thumb */
  border-radius: 6px; /* Bordas arredondadas do thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do thumb quando é hover */
}

.dark ::-webkit-scrollbar-track {
  background: #1a1a1a; /* Cor da track no modo escuro */
}

.dark ::-webkit-scrollbar-thumb {
  background: #444; /* Cor do thumb no modo escuro */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #666; /* Cor do thumb no hover no modo escuro */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Faz a scrollbar ser fina */
  scrollbar-color: #888 #f1f1f1; /* Cor do thumb e da track */
}

.dark * {
  scrollbar-color: #444 #1a1a1a;
}

/* Para Internet Explorer e Edge */
.scrollable {
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Autohide scrollbar in IE and Edge */
}

/* Para uma barra de rolagem personalizada */
.scrollable {
  overflow-y: scroll; /* Habilita a rolagem vertical */
  height: 300px; /* Altura do elemento com scrollbar */
}
